@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #202124;
  --dark: #303134;
  --gray: #8f9093;
  --white: #fff;
  --primary: #841b18;
  --secondary: #016da9;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Noto Sans Thai", sans-serif;
}

.container {
  max-width: 600px;
  width: 95vw;
  margin: 1em auto;
  padding-bottom: 10vh;
}

textarea:focus,
input:focus {
  outline: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: 0.5em;
}
